/* AboutMe.css */
.about-me-page {
  background: url("../assets/images/AboutMeBackground.jpg") no-repeat center center fixed;
  background-size: cover;
  background-position: bottom center;
  min-height: 100vh;
  color: white;
  font-family: "Julius Sans One", sans-serif;
  padding: 60px 80px 40px 80px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.title {
    color: #FFF;
    text-align: left;
    font-family: "Julius Sans One", sans-serif;
    font-size: 180px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 15px;
}

.title-underline {
  width: 900px; 
  height: 3px;
  background-color: white;
  margin-left: 80px; 
}

.title-container {
    margin-left: 140px;
    margin-top: 60px;
}

.about-body {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.paragraphs {
  width: 50%;
  text-align: center;
  font-size: 35px;
  line-height: 1.3;
  margin-bottom: 20px;
  margin-top: 250px;
}

.photo-collage-container {
  width: 40%;
  height: 1200px;
  align-self: right;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.photo-collage-container::-webkit-scrollbar {
  display: none;
}


.photo-collage {
  column-count: 3;              
  column-gap: 20px;             
  width: 1300px;           
  overflow-y: auto;             
  overflow-x: hidden;         
  padding-right: 10px;

  /* Hide scrollbar */
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE/Edge */
}

/* hide scrollbar for other browsers */
.photo-collage::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.photo-collage img {
  width: 100%;                  /* Fit full column width */
  height: auto;                 /* Maintain aspect ratio */
  display: block;
  margin-bottom: 20px;
  border-radius: 8px;
  break-inside: avoid;          /* Avoid breaking inside columns */
  border-radius: 35px;
}

.bottom-buttons {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-top: 200px;
}

.bottom-buttons button {
  all: unset;
  font-size: 60px;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.bottom-buttons button:hover {
  color: #bbbbbb;
}
