/* Resume.css */
.resume-page {
  background: url("../assets/images/ResumeBackground.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  padding: 80px 20px 40px; /* account for fixed navbar */
  color: white;
  font-family: "Julius Sans One", sans-serif;
}

.resume-content {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.resume-heading {
    color: #FFF;
    text-align: center;
    font-family: "Julius Sans One", sans-serif;
    font-size: 120px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 15px;
}

.heading-underline {
  width: 400px; 
  height: 3px;
  background-color: white;
  margin: 0 auto 40px auto; 
}

.resume-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.resume-frame {
  width: 1500px;
  height: 2000px; /* or something like 80vh */
  border: none;
  margin: 0 auto;
  display: block;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.download-button {
  display: inline-block;
  padding: 14px 28px;
  background-color: #9100ff;
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: background 0.3s;
}

.download-button:hover {
  background-color: #b733ff;
}

.download-icon {
  margin-left: 10px;
}